<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elna.elhamnaimi.bicentenary">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.elna.bicentenary.ui.BicentenaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.elna.bicentenary.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <!--
        <receiver android:name=".receivers.HolyDayAppWidgetProviderSmall">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/holyday_appwidget_info_small" />
        </receiver>
        -->
        <receiver android:name="com.elna.bicentenary.receivers.HolyDayWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/holyday_widget_info" />
        </receiver>
        <receiver android:name="com.elna.bicentenary.receivers.BicentenaryProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bicentenary_widget_info" />
        </receiver>

        <activity
            android:name="com.elna.bicentenary.ui.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.elna.bicentenary.services.UpdateService" />

        <activity android:name="com.elna.bicentenary.ui.DemoActivity" />

        <activity android:name="com.elna.bicentenary.ui.BicentenaryActivity" />

        <receiver
            android:name="com.elna.bicentenary.receivers.JobIntentReceiver"
            android:enabled="true"
            android:exported="true" />

        <service android:name="com.elna.bicentenary.receivers.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>

        <activity
            android:name="com.elna.bicentenary.ui.HolyDayListActivity"
            android:label="@string/title_activity_holy_day_list"></activity>
    </application>

</manifest>